################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MuonhoryoUnityFPLibrary/.vs/MuonhoryoUnityFPLibrary/FileContentIndex/
